<div class="container-fluid p-0">
  <nav tuiTabBar class="tabs" [style]="currentTab">
    <a icon="@tui.home" (click)="changePage(1)" tuiTabBarItem >
      Home
    </a>
    <a icon="@tui.briefcase" (click)="changePage(2)" tuiTabBarItem>
      Experiência
    </a>
    <a icon="@tui.award" (click)="changePage(3)" tuiTabBarItem>
      Avaliação
    </a>
    <a icon="@tui.graduation-cap" (click)="changePage(4)" tuiTabBarItem>
      Educação
    </a>
    <a icon="@tui.contact" (click)="changePage(5)" tuiTabBarItem>
      Contato
    </a>
  </nav>

</div>