<div class="container-fluid d-flex  justify-content-center p-4 gap-1 contentCard">

  <div tuiAppearance="floating"
    class="container-fluid col-2 py-4 rounded d-flex justify-content-center align-items-start contentStepper">
    <tui-stepper [orientation]="orientationStepper" tuiConnected [(activeItemIndex)]="valueStep">
      <button *ngFor="let step of steps" tuiStep type="button" (click)="chooseJob(valueStep)">
        <h6 class="textBody chooseOcupation">{{ step }}</h6>
      </button>
    </tui-stepper>
  </div>

  <div tuiAppearance="floating"
    class="container-fluid p-2 d-flex justify-content-center rounded flex-column align-items-center gap-3">

    <app-task-jobs [title]="title" [empresa]="empresa" [date]="date" [description]="description"
      [selectedClass]="selectedClass"></app-task-jobs>



  </div>
</div>