@media (max-width: 1100px) {
  .contentCard {
    flex-direction: column;
  }

  .contentStepper {
    width: 100%;
  }

  .chooseOcupation {
    margin: 0px !important;
  }

  [tuiConnected] [tuiStep]:not(:last-of-type):after {
    inline-size: 0px;
  }
}

@media (max-width: 768px){
    .contentCard{
      padding: 0px !important;
    }
}