<div tuiAppearance="floating" class="container-fluid p-3 d-flex flex-column justify-content-center gap-2">

  <div tuiAppearance="floating" class="container-fluid d-flex p-3 justify-content-center rounded">

    <div class="container-fluid content col-3 m-0 p-4 rounded">
      <div  tuiSurface tuiTheme="dark" class="blur p-2 rounded">
        <h2 class="title">Minhas avaliações</h2>
        <p class="textBody">Confira minhas avaliações dadas pelos meus clientes em trabalhos freelancers e por pessoas
          que trabalharam ou estudaram comigo</p>
      </div>
    </div>
  </div>

  <div tuiAppearance="floating" class="container-fluid ">
    <app-slide></app-slide>
  </div>


</div>