<div class="container-fluid d-flex align-items-center justify-content-center p-3">
  <div tuiCardMedium tuiSurface class="cardEmpresa px-2" [ngClass]="selectedClass">
    <h5 TuiTitle.size="m" class="Subheadings text-dark">
      {{empresa}}
    </h5>
  </div>
</div>
<div class="container-fluid py-3 rounded">
  <button tuiCardLarge tuiHeader  type="button" class="cardDescription">
    <div class="container-fluid p-3 d-flex flex-column align-items-center contentScroll">
      <h5 class="Subheadings m-1" [innerHTML]="title">
      </h5>
      <span class="textMedium" [innerHTML]="date"></span>

      <aside tuiAccessories class="gap-0 py-3">
        
        <app-text-scroll [text]="description"></app-text-scroll>

      </aside>
    </div>
  </button>
</div>