[tuiPin] {
  position: relative;

}

[tuiPin]._open {
  margin-top: -3.75rem;
}

.box {
  block-size: 7.75rem;
  width: 100%;
}

.actions {
  display: flex;
}

.tabsMobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  padding: 0px 0px;
}

@media (max-width: 768px) {
  .iconsInfo {
    font-size: 50px !important;
  }

  .contentHeader {
    height: 70px;
    block-size: 4rem !important
  }
}


@media (max-width: 550px) {
  .containerPages {
    padding: 3em 0px !important;
  }

  .contentResume {
    padding: 0px !important;
  }

  .contentMain {
    padding: 0px 10px !important;
  }
}

@media (max-width: 425px) {
  .contentMain{
    padding-bottom: 25px !important;
  }
  .tabsMobile {
    display: flex !important;
  }
}

@media (max-width: 375px) {
  .titleForMe {
    font-size: 18px !important;
  }
}