<header tuiNavigationHeader class="contentHeader">
  <span tuiNavigationLogo>
    <a href="https://github.com/Wevertonbarbosa/Wevertonbarbosa" target="_blank" rel="noopener noreferrer">
      <tui-icon icon="@tui.github" class="fs-3 text-light iconsInfo"></tui-icon>
    </a>
    <a href="https://www.linkedin.com/in/wevertonbarbosa00/" target="_blank" rel="noopener noreferrer">
      <tui-icon icon="@tui.linkedin" class="text-primary fs-3 iconsInfo"></tui-icon>
    </a>
  </span>
  <hr />

</header>

<main tuiNavigationMain class="contentMain">
  <header tuiHeader class="mb-0">
    <h1 tuiTitle style="max-inline-size: 100% !important;" class="p-2 contentResume">
      <div tuiNavigationLogo>
        <input tuiLike="var(--tui-status-negative)" (click)="showNotification()" type="checkbox" />
        <span tuiFade class="textBody titleForMe">Desenvolvedor Front-End </span>
      </div>

      <hr class="mt-1 mb-1">

      <app-text-scroll [title]="title" [text]="text"></app-text-scroll>

    </h1>
  </header>

  <nav tuiNavigationNav class="p-3 pb-0" [style.position]="'sticky'" style="overflow: visible;"
    tuiAppearance="floating">
    <tui-tabs>
      <button tuiTab type="button" (click)="changePage(1)">
        Meus trabalhos
      </button>
      <button tuiTab type="button" (click)="changePage(2)">
        Experiência
      </button>
      <button tuiTab type="button" (click)="changePage(3)">
        Avaliações
      </button>
      <button tuiTab type="button" (click)="changePage(4)">
        Educação
      </button>
      <button tuiTab type="button" (click)="changePage(5)">
        Contato
      </button>

    </tui-tabs>
    <hr />

    <button tuiPin type="button" style="transform: translate(0%, 0%) !important;" [open]="a" (click)="a = !a">
      <img alt="avatar"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZa92p4RTJNohjlsocpeVGkmH4IiQ5JmK7RQ&s" />
    </button>
  </nav>

  <div tuiAppearance="floating" class="p-3 containerPages">


    <!-- CRIAR OS CONTEUDOS DAS PÁGINAS AQUI, COMPONENTES SEPARADOS -->
    <app-jobs *ngIf="currentPage === 1"></app-jobs>
    <app-experience *ngIf="currentPage === 2"></app-experience>
    <app-evaluated *ngIf="currentPage === 3"></app-evaluated>
    <app-education *ngIf="currentPage === 4"></app-education>
    <app-contact *ngIf="currentPage === 5"></app-contact>
  </div>
</main>